body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#board {
    position: relative;
    margin: 50px auto;
    width: 600px; /* Adjust according to your image size */
    height: 600px; /* Adjust according to your image size */
}

#monopolyBoard {
    width: 100%;
    height: 100%;
}

#playerToken {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6347; /* Coral */
    border-radius: 50%; /* Make it round */
    top: 570px; /* Adjust according to your image size and player token size */
    left: 0; /* Initial position */
    transition: left 0.5s ease; /* Smooth transition */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}
